<div class="row">
  <div class="col-md-offset-4 col-md-4 users-new-container">
    <h2 class="text-center text-white">イメージ作成</h2>
    <%= form_for @container, url: container_create_path do |f| %>
      <div class="form-group">
        <%= f.hidden_field :id, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :repository（最大15文字）, class: 'text-white' %>
        <%= f.text_field :repository, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :tag（最大12文字）, class: 'text-white' %>
        <%= f.text_field :tag, class: 'form-control' %>
      </div>

      <%= f.submit "作成", class: 'btn-block btn-white' %>
    <% end %>
    <%= link_to 'キャンセル', container_index_path, class: 'text-white' %>
  </div>

  <div class="col-md-12">
    <p class="text-center">
    <br>
    ※登録可能な文字は「英文字の大文字と小文字」、「数値」、「-」、「_」、「.」のみとなります。
    </p>
  </div>
</div>
