<h1>イメージ管理</h1>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>No</th>    
          <th>イメージID</th>
          <th>レジストリ名</th>
          <th>タグ名</th>
          <th>作成されてからの時間</th>
          <th>サイズ</th>
          <th>コンテナ作成</th>
          <th>削除</th>
        </tr>
      </thead>
      <tbody>
        <% @all_image.each_with_index do |image, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= image.id %></td>
            <td><%= image.repository %></td>
            <td><%= image.tag %></td>
            <td><%= image.created %></td>
            <td><%= image.image_size %></td>
            <td><%= "---" %></td>
            <td><%= link_to "削除", images_delete_path(id: image.id, repository: image.repository, tag: image.tag,
                                      image_size: image.image_size, created: image.created), 
            data: { confirm: "#{image.id}（#{image.repository}:#{image.tag}）\nイメージを削除しますか？" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-12">
    <p>
    <b>※稼働中のコンテナで利用されているイメージは削除できない場合があります。</b><br>
    <b>※他のイメージの作成元（親）になっているイメージは削除できない場合があります。</b><br>
    <b>※不要イメージは以下リンクをクリックすることで削除できます。（上記に該当しないもので、レポジトリ名かタグ名に<%= "<none>がついてるもの" %>）</b><br>
    　<%= link_to "docker image prune -f", images_delete_2_path, 
          data: { confirm: "本当に削除しますか？" } %></td>
    </p>
  </div>

</div>

